@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideDown {
  from {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}

@font-face {
  font-family: 'hero-text';
  src: url('/fonts/breakable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
